<p id="notice"><%= notice %></p>

<h1>Restaurants</h1>

<% @restaurant.each do |r| %>
  <%= link_to render "card", restaurant: r %>
<% end %>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %>
